
@import url('https://fonts.googleapis.com/css2?display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
} /*HEADER, NAV, CABEÇALHO*/
.header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: black;
}
nav {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}
.nav ul li{
  padding: 20px;
}
.nav li {
  display: inline;
}
.nav li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  
}
/*informacao inicial*/
.info {
  text-align: center;
}
#jumbroton {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.texto {
  width: 100%;
  padding: 50px;
  padding-top: 190px;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.texto h2 {
  font-size: max(50px, 5vw);
}
.texto p {
  font-size: min(25px, 10vw);
}
.btns {
  width: 100%;
  margin-bottom: 70px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 30px;
  padding-top: 50px;
}
.btns a {
  text-decoration: none;
  border-radius: 10px;
}
.btn1{
  padding: 10px 20px;
  margin-right: 10px;
  background: rgb(245, 221, 189);
  color: black;
}
.btn2{
  background: black;
  padding: 10px ;
  color:  rgb(245, 221, 189);
}
.btn2 a {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav li a:hover {
  text-decoration: underline;
  
}
/*PROJETOS, CONTAINER PROJETOS*/
.projetos {
  width: 100%;
  background: black;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.container-projetos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}
.container-projetos img{
  width: 100%;
  margin-left: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.sem-magin {
  margin-left: 0;
}
/*sobre mim*/
#sobre-mim {
  background: black;
  text-align: center;
  padding: 20px;
}
#sobre-mim h2, p {
  color: white;
  margin-top: 9px;
}
/*footer*/
footer {
  padding: 20px;
  text-align: center;
}
/*scroll bar*/
::-webkit-scrollbar {
  width: 10px;
  background: rgb(255, 240, 240);
}
::-webkit-scrollbar-thumb {
  width: 10px;
  height: 80px;
  background: black;
}
/*Formatando hover*/
.btn1:hover {
  background: rgb(57, 56, 56);
}
.btn2:hover {
  background: black;
  color: white;
}