
@import url('https://fonts.googleapis.com/css2?display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}
/*informacao inicial*/
#particles-js{
  height: 650px;
  background: #262626;
}
.jumbroton {
  width: 100%;
  text-align: center;
  position: relative;
}
.texto {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.texto h2 {
  color: #fff;
  font-size: 70px;
}


.nav li a:hover {
  text-decoration: underline;
  
}
/*footer*/
footer {
  padding: 20px;
  text-align: center;
}
/*scroll bar*/
::-webkit-scrollbar {
  width: 10px;
  background: rgb(255, 240, 240);
}
::-webkit-scrollbar-thumb {
  width: 10px;
  height: 80px;
  background: black;
}
/*Formatando hover*/
.btn1:hover {
  background: rgb(57, 56, 56);
}
.btn2:hover {
  background: black;
  color: white;
}